{%- set max_exp_items_to_show = 3 -%}

<!DOCTYPE html>
<html>
<head>
    <title>{{ full_name }}'s CV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>{{ full_name }}</h1>

    {% for key, value in contact_details.items() %}
        {{- key }}: <a href="{{ value }}">{{ value }}</a><br>
    {% endfor %}

    <h2>Summary</h2>
    {{ summary }}

    <h2>Experience<h2>
    {% for item in experience %}
    {%- if loop.index > max_exp_items_to_show %}
    {%- if loop.index == max_exp_items_to_show + 1 %}
    <h3>Earlier Experience</h3>
    <em>Varios locations</em>
    <ul>
    {% endif %}
      <li>{{ item.title }}, <a href="{{ item.company_url }}">{{ item.company_name }}</a> ({{ item.dates }})</li>
    {%- if loop.last %}
        </ul>
    {% endif %}
    {%- else %}
    <h3>{{ item.title }}, <a href="{{ item.company_url }}">{{ item.company_name }}</a></h3>
    <em>{{ item.dates}}, {{ item.location }}</em>
    <ul>
    {% for bullet_point in item.bullet_points %}
        <li>{{ bullet_point -}}</li>
    {% endfor %}
    </ul>
    <em>{{ item.keywords|join(", ") }}</em>
    {% endif -%}
    {% endfor %}

    <h2>Education<h2>
    {% for item in education %}
    <h3 style="margin-bottom:0">{{ item.title }}</h3>
    <em>{{ item.dates}}</em>
    {% endfor %}

    <h2>Certifications and Training</h2>
    <ul>
    {% for item in certificates %}
    {% if item.url is defined and item.url|length %}
        <li><a href="{{ item.url }}">{{ item.title -}}</a></li>
    {% else %}
        <li>{{ item.title -}}</li>
    {% endif %}
    {% endfor %}
    {% for item in training %}
    {% if item.url is defined and item.url|length %}
        <li><a href="item.url">{{ item.title }}</a></li>
    {% else %}
        <li>{{ item.title }}</li>
    {% endif %}
    {% endfor %}
    </ul>

    <h2>Skills</h2>
    {{ skills|join(", ") }}.

    <h2>Open Source Projects</h2>
    <ul>
    {% for item in oss_projects %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
            {% if item.description is defined and item.description|length %}
                {{ item.description }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>

    <h2>Publications</h2>
    <ul>
    {% for item in publications %}
        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
</body>
</html>
